extends layout

block header
    div#logo
        p node.js chat in heroku

block content
    div#login
        p Nickname:
            input#nickname

    div#chat
        div#messages

        div 
            input#message(type='text')
            input#submit-message(type='submit', value="submit")