extends layout

block header
    div#logo
        h1 Chat with node.js in heroku using xhr-polling.

block content
    div#login
        form(name="login")
            | Nickname:
            input(type="text", id="nickname")
            input(type="submit", value="Enter room", id="btn-enterroom")

    div#chat
        div#messages-box
            div#messages
            div 
                form(name="message")
                    input(type='text', id="message")
                    input(type='submit', value="Send", id="btn-submitmessage")

        div#server-box
            div#server

        div#clients-box
            div#title
                h2 Users:
            div#clients
                ul