/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Chat styles
 */
h1
{
    font-size:1.6em;
    margin-bottom: 15px;
}

h2
{
    font-size:1.3em;
    margin-bottom: 7px;
}

b
{
    font-weight:bold;
}

#chat
{
    display:none;
}

#container
{
    padding: 30px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#server-box
{
    float:left;
    width: 250px;
}

input#message,
input#nickname
{
    padding: 4px 5px;
    border: 1px solid #BABABA;
    margin-top: 10px;
}

#messages
{
    height: 250px !important;
    overflow: scroll;
    background-color: #EFEFEF;
    padding: 8px;
    margin-right: 10px;
}

#messages p 
{
    padding: 4px 0px;
    border-bottom: 1px dotted #B3B3B3;
}

#messages-box
{
    float:left;
    width: 450px;
}

#clients-box
{
    float:left;
    width: 250px;
}